body{
	background-color: rgb(0, 247, 255);
	margin:auto;
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
}
hr {
	border:0;
	background:#dedede;
	height:1px;
}		 
header{
	text-align: center;
	color: #232323;
} 
header .judul{
	font-size: 17pt;
	font-style: bold;
	color: rgb(0, 0, 0);
}
header .deskripsi{
	color :rgb(0, 0, 0);
	font-size: 11pt;
} 
.wrap {
	width: 950px;
	margin:25px auto;
}
nav.menu ul {
	overflow:hidden;
	color:#fff;
	list-style: none;
	
	padding:0;
	width: 650px;
	margin:auto;
	background: #050000;
	
}
nav.menu ul li {
	margin:0;
	float:left;
}
nav.menu ul a {
	padding:25px;
	display:block;
	font-weight:600;
	font-size: 16px;
	color:#fff;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}
nav.menu ul a:hover {
	text-decoration: underline;
	background:#40b114;
}
.blog {
	
	margin:auto;
}
.post {
	text-align: right;
}
.jaw {
	width:600px;
	padding:25px;
	margin:25px auto;
	background: #fff;
	border:1px solid #dedede;
	
}
.jaw img {
	min-width: 650px;
	margin:0 0 25px -25px;
	max-width: 650px;
}
.jaw .jawa:hover {
	margin-left:10px;
}
footer{
	text-align: center;
}
